#box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.image {
    width: 25%;
    height: 25%;
}

.experiencia 
{

    background-color: darkorange;
    width: 600px;
    font-size: 40px;

}

