#box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.image {
    width: 25%;
    height: 25%;
}

.experiencia 
{

    background-color: darkorange;
    width: 600px;
    font-size: 40px;

}

.Acontecimientos {
    background-color: rgb(214, 20, 214); 
    color: white;
    font-family:initial;
}

.promise {

    border: .125rem solid black;
    background-color: blue;
    color: black;
    font-size: 1.5625rem;
    width: auto;
    height: auto;

}
.homeless {

    border: .125rem solid black;
    background-color: bisque;
    color: black;
    font-size: 1.5625rem;
    width: auto;
    height: auto;
}
.fail {
    border: .125rem solid black;
    background-color: darkred;
    color: black;
    font-size: 1.5625rem;
    width: auto;
    height: auto;
}
